body {
  margin: 0;
  overflow: hidden;
  text-align: center;
  background: #c31432; /* fallback for old brows /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    30deg,
    #360b0b,
    #c31414
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#networkCanvas {
  background: black;
  margin-left: 8rem;
}
#carCanvas {
  background: linear-gradient(#242424, #777777);
}
